# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [1]:
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline

In [2]:
mi_df = pd.read_json('data/data-demo-2.json')

In [3]:
mi_df

    nombres apellidos
0      rené  elizalde
1   enrique     cueva
2    carlos  castillo
3     pedro   salinas
4  cristian   andrade

In [5]:
mi_df['nombres']

0        rené
1     enrique
2      carlos
3       pedro
4    cristian
Name: nombres, dtype: object

In [6]:
mi_funcion = lambda x: x.upper()
mi_df['nombres-mayuscula'] = mi_df['nombres'].apply(mi_funcion)
mi_df['apellidos'] = mi_df['apellidos'].apply(lambda x: x.upper())

In [23]:
mi_df

    nombres apellidos  longitud-nombres  longitud-apellidos incial_apellidos
0      rené  elizalde                 4                   5                e
1   enrique     cueva                 7                   5                c
2    carlos  castillo                 6                   5                c
3     pedro   salinas                 5                   5                s
4  cristian   andrade                 8                   5                a

In [24]:
def count_nombres(x):
    valor = len(x)
    return valor

In [25]:
def count_apellidos(x):
    valor = len(x)
    if valor > 5:
        valor = 5
        
    return valor

In [26]:
def inicial_apellido(x):
    return x[0]

In [27]:
mi_df['longitud-nombres'] = mi_df['nombres'].apply(count_nombres)
mi_df['longitud-apellidos'] = mi_df['apellidos'].apply(count_apellidos)
mi_df['incial_apellidos'] = mi_df['apellidos'].apply(inicial_apellido)

In [22]:
mi_df

    nombres apellidos  longitud-nombres  longitud-apellidos incial_apellidos
0      rené  elizalde                 4                   5                e
1   enrique     cueva                 7                   5                c
2    carlos  castillo                 6                   5                c
3     pedro   salinas                 5                   5                s
4  cristian   andrade                 8                   5                a